/********************
YOUR STYLES
*******************/
.body{
    font-family: 'Roboto';
    font-weight: 100;
	line-height: 1.1;
	letter-spacing: 0.025em;
	margin: 0; padding: 0;
}

.information{
    display:flex;
    flex-flow: column-reverse;
    justify-content: space-between;
}
.temp{
	color: red;
}
   

.city{
  color: green;
}

.state{
  color: blue;
}

.image img{
}

aside{
  background: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

aside figure{
  background: blue;
  margin: 0;
  padding: 1em;
}


/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}